@model SensoStatWeb.WebApplication.ViewModels.SurveyViewModel

<form class="surveyCreationDetailParent" asp-action="" asp-controller="surveys">

    @if (true)
    {
        <div class="titleSurvey">
            <h1 class="Title">Nom séance : @Model.Survey.Name</h1>
            <h2>Status : <i class="fas fa-circle blueCircle"></i></h2>
        </div>
    }

    <div style="width:100%" class="spacedButtons">
        <button onclick="addInput('instruction')" class="orangeRoundedButton doubleButton">Nouvelle instruction</button>
        <button onclick="addInput('question')" class="orangeRoundedButton doubleButton">Nouvelle question</button>
    </div>

    <section class="list" id="list">

    </section>



    @if (true)
    {
        <section class="surveyButtons">
            <button class="orangeRoundedButton">Déployer séance</button>
            <button class="orangeRoundedButton">Supprimer le déploiement</button>
            <button class="orangeRoundedButton">Télécharger les liens</button>

            <button class="orangeRoundedButton">Télécharger données</button>
            <button class="orangeRoundedButton">Supprimer la séance</button>
        </section>
    }

    <input type="submit" style="margin-top:auto" class="orangeRoundedButton" value="Confirmer" />
</form>


<script>



    function addInput(name) {
        event.preventDefault();

        var list = document.getElementById('list');

        var div = document.createElement('div');
        var input = document.createElement('input');
        var i = document.createElement('i');

        input.placeholder = "Ajouter une " + name;

        div.classList.add("roundedOrangeInput");
        div.classList.add("bigInput");

        i.onclick = deleteInput;
        i.classList.add("fas");
        i.classList.add("fa-trash-alt");

        div.appendChild(input);
        div.appendChild(i);


        list.appendChild(div);
    }

    function deleteInput(){
        
        
    }
</script>


