@model SensoStatWeb.Models.DTOs.Down.SurveyCreationDTODown


<form class="surveyCreationDetailParent" asp-action="createSurvey" asp-controller="survey">

    <input asp-for="@Model.Name" type="hidden"/>

    <div class="titleSurvey">
        <h1 class="Title">Nom séance : <span>@Model.Name</span></h1>

        @*@if (Model?.Id != 0)
        {
            <h2>Status : <i class="fas fa-circle blueCircle"></i></h2>

        }*@
    </div>

    <div style="width:100%" class="spacedButtons">
        <button onclick="addInput('instruction')" class="orangeRoundedButton doubleButton">Nouvelle instruction</button>
        <button onclick="addInput('question')" class="orangeRoundedButton doubleButton">Nouvelle question</button>
    </div>

    <input value="" type="hidden" name="orderInputs" id="orderInputs" />

    <ul id="sortlist">
    </ul>

    @*@if (Model?.Id != 0)
    {
        <section class="surveyButtons">
            <button class="orangeRoundedButton">Déployer séance</button>
            <button class="orangeRoundedButton">Supprimer le déploiement</button>
            <button class="orangeRoundedButton">Télécharger les liens</button>

            <button class="orangeRoundedButton">Télécharger données</button>
            <button class="orangeRoundedButton">Supprimer la séance</button>
        </section>
    }*@

    <div style="margin-top:auto" class="spacedButtons" style="width:100%">
        <a asp-controller="surveys" asp-action="" style="background-color:transparent;color:#FF9D0A" class="orangeRoundedButton">Retour</a>
        <input type="submit" class="orangeRoundedButton" value="Créer" />
    </div>

    <script>

    window.addEventListener("DOMContentLoaded", () => {
            slist();
        });
        
        </script>
</form>