@model SensoStatWeb.WebApplication.ViewModels.SurveyViewModel

<form class="surveyCreationDetailParent" asp-action="createSurvey" asp-controller="survey">

    @if (true)
    {
        <div class="titleSurvey">
            <h1 class="Title">Nom séance : <span>@Model.Survey.Name</span></h1>
            <h2>Status : <i class="fas fa-circle blueCircle"></i></h2>
        </div>
    }

    <div style="width:100%" class="spacedButtons">
        <button onclick="addInput('instruction')" class="orangeRoundedButton doubleButton">Nouvelle instruction</button>
        <button onclick="addInput('question')" class="orangeRoundedButton doubleButton">Nouvelle question</button>
    </div>

    <input value="" type="hidden" name="orderInputs" id="orderInputs"/>

    <ul id="sortlist">

    </ul>
</ul>

    @if (true)
    {
        <section class="surveyButtons">
            <button class="orangeRoundedButton">Déployer séance</button>
            <button class="orangeRoundedButton">Supprimer le déploiement</button>
            <button class="orangeRoundedButton">Télécharger les liens</button>

            <button class="orangeRoundedButton">Télécharger données</button>
            <button class="orangeRoundedButton">Supprimer la séance</button>
        </section>
    }

    <input type="submit" style="margin-top:auto" class="orangeRoundedButton" value="Confirmer" />

    <script>

window.addEventListener("DOMContentLoaded", () => {
  slist();
});

</script>
</form>