@model SensoStatWeb.WebApplication.ViewModels.SurveysViewModel

<section class="sectionSurveys">
    <div class="btnNewSurveyDiv">
        <div>
            <a asp-action="logout"><i class="fa-solid fa-door-open" style="font-size: 22pt;"></i></a>
            <a asp-action="" asp-controller="register"><i class="fa-solid fa-user"></i></a>
        </div>
        <a asp-controller="survey" asp-action="" class="orangeRoundedButton">Nouvelle Séance</a>
    </div>

    <h3 class="surveyTitle">Mes séances</h3>

    <div class="surveys">

        @if (Model?.Surveys != null || Model?.Surveys?.Count() < 1)
        {
            foreach (var survey in Model.Surveys)
            {
                <div class="oneSurvey">
                    <div>
                        @if(survey.StateId == 1)
                        {
                            <i class="fas fa-circle greyCircle"></i>
                        }
                        else
                        {
                            <i class="fas fa-circle blueCircle"></i>
                        }
                        @survey.Name
                   </div>
                    <div><a asp-route-surveyId="@survey.Id" asp-controller="survey" asp-action="editPage"><i class="fas fa-edit"></i></a> <a onclick="showPopupDeleteSurvey(@survey.Id)"><i class="fas fa-trash-alt"></i></a></div>
                </div>
            }
        }
        else
        {
            <p>Aucune séance à afficher</p>
        }
    </div>
</section>