<section class="sectionSurveys">

    <div class="btnNewSurvey">
        <button class="orangeRoundedButton">Nouvelle Séance</button>
    </div>

    <h3 class="surveyTitle">Mes séances</h3>

    <div class="surveys">
        <div class="oneSurvey">
            <div><i class="fas fa-circle greyCircle"></i> Séance 1 - Chips</div>
            <div><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></div>
        </div>
        <div class="oneSurvey">
            <div><i class="fas fa-circle greenCircle"></i> Séance 1 - Chips</div>
            <div><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></div>
        </div>
        <div class="oneSurvey">
            <div><i class="fas fa-circle blueCircle"></i> Séance 1 - Chips</div>
            <div><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></div>
        </div>
        <div class="oneSurvey">
            <div><i class="fas fa-circle greenCircle"></i> Séance 1 - Chips</div>
            <div><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></div>
        </div>
        <div class="oneSurvey">
            <div><i class="fas fa-circle greyCircle"></i> Séance 1 - Chips</div>
            <div><i class="fas fa-edit"></i> <i class="fas fa-trash-alt"></i></div>
        </div>
    </div>


</section>