@model SensoStatWeb.WebApplication.ViewModels.SurveysViewModel

<section class="sectionSurveys">
    <div class="btnNewSurvey">
        <a asp-controller="CreateSurvey" asp-action="" class="orangeRoundedButton">Nouvelle Séance</a>
    </div>

    <h3 class="surveyTitle">Mes séances</h3>

    <div class="surveys">

        @if (Model?.Surveys != null || Model?.Surveys?.Count() < 1)
        {
            <div class="oneSurvey">
                <div><i class="fas fa-circle greyCircle"></i> Séance 1 - Chips</div>
                <div><a asp-controller="createSurvey" asp-action="detail"><i class="fas fa-edit"></i></a> <a onclick="showPopupDeleteSurvey()"><i class="fas fa-trash-alt"></i></a></div>
            </div>
        }
        else
        {
           <p>Aucune séance à afficher</p>
        }
    </div>
</section>