* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color:black;
}

body {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    overflow-x:hidden;
}

header {
    width: 100vw;
    height: 100px;
    background-color: #FF930C;
}

header img {
    max-width: 100vw;
}

section.wrapper {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}

section.wrapper section.content {
    width: 60%;
    padding: 50px;
    background-color: #FFFCF0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    overflow-y:hidden;
}

@media screen and (max-width: 600px) {
    section .content {
        padding:10px !important;
    }
}

@media screen and (max-width: 1000px) {
    section .content {
        width: 100% !important;
    }
}