<form class="sectionLogin">
    <h1 class="Title">Créer une séance</h1>
    <br />

    <div class="roundedOrangeInput">
        <i class="fa-solid fa-square-poll-horizontal"></i>
        <input placeholder="Nom de la séance" />
    </div>
    <input style="width:50%" type="submit" class="orangeRoundedButton" value="Créer" />
</form>